fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
python-dotenv
fpdf2
anthropic
assemblyai
matplotlib
numpy
apscheduler
stripe
